#rock{
background-color: brown;
color: white;

}

#scissor{
background-color: silver;
color: black;
}

.win,
.score,
.result{
background-color: yellow;
color: green;
border: 4px solid black;
text-align: center;
margin: 10px;
}

.container{
    display: flex;
    justify-content: center;
    gap: 10px;
}
